@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Digital BrewPub, a site to let you see notes on Breweries.</h3>

<p>This site allows Users to search for Breweries by Location and take make and view user-entered notes about them.</p>
