@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    <div class="col-md-12">
            <a class="btn btn-default btn-lg" asp-controller="Brewery" asp-action="Search">Detroit Breweries!</a>
    </div>
</div>
